*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coveragels
npm-debug.log
node_modules/
.views/static/bower_components/
common/plugins/*/node_modules/
common/plugins/*/.git/
